version: "3.8"

services:
  app:
    build: .
    container_name: tecgen_soft
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000 --timeout 120
  postgres:
    image: postgres:16
    container_name: tecgen_soft_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
     - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
