[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-stubs = "*"
asgiref = "==3.10.0"
django = "==5.2.7"
sqlparse = "==0.5.3"

[dev-packages]

[requires]
python_version = "3.13"
